.wrapperBtnChannel {
	display: flex;
	justify-content: center;
	color: var(--color-dark-blue);
	background: none;
	font-size: 1rem;
	font-weight: 600;
	width: 19.375rem;
	height: 2.8125rem;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
	border-radius: 0.9375rem;
	border: 0.0625rem solid var(--color-dark-blue);
}
