.wrapperGrid {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 70vw;
	margin-left: 20px;
	.wrapperHeaderGrid {
		display: flex;
		z-index: 1;
		justify-content: space-between;

		width: 59vw;
	}
	.GridChannelsComponentsWrapper {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
}
