.filter {
	position: absolute;
	top: 3.75rem;
	width: 19.375rem;
	height: 52.1875rem;

	padding: 1.25rem;
	border-radius: 0.9375rem;

	box-shadow: var(--shadow);

	display: flex;
	justify-content: space-around;
	flex-direction: row;

	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: var(--color-light-gray);
}

.filter_ico {
	width: 0.75rem;
	height: 0.75rem;
}

.filter_block {
	width: 90%;
	height: 9.375rem;
	border-bottom: 0.0625rem solid var(--color-gray);

	margin-bottom: 1.25rem;
}

.filter_block:nth-of-type(3) {
	height: auto;
	padding-bottom: 0.625rem;
}

.filter_block:nth-of-type(4) {
	width: auto;
	padding-bottom: 0.5rem;
}

.filter_item {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;

	margin-top: 0.1875rem;
	margin-bottom: 0.9375rem;
	span {
		margin-bottom: 0.625rem;
		display: block;
	}
}

button {
	border-style: none;
	cursor: pointer;
}

.filt_btn {
	width: 12.75rem;
	height: 1.75rem;

	background: none;

	border-radius: 0.4375rem;
	border: 0.0625rem solid var(--color-light-gray);

	font-size: 0.75rem;
	font-family: inherit;
	color: inherit;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: end;
}

.polygone {
	width: 0;
	height: 0;
	border-left: 0.25rem solid transparent;
	border-right: 0.25rem solid transparent;
	border-top: 0.375rem solid var(--color-light-gray);

	margin: 0 5% 0 25%;
}

.polygone::active {
	border-top: 0rem;
	border-bottom: 0.375rem solid var(--color-light-gray);
}

.reload_btn {
	background: none;

	display: flex;
	align-items: center;

	margin-left: 0.3125rem;
}

.reload_btn:active img {
	animation: rotate 0.25s linear;
}

@keyframes rotate {
	to {
		transform: rotate(-360deg);
	}
}

span {
	margin-bottom: 0.5625rem;
}

.label_wrapper {
	display: flex;
	align-items: center;

	border-radius: 0.4375rem;
	border: 0.0625rem solid var(--color-light-gray);

	width: 6rem;
	height: 1.75rem;
}

.label_wrapper:first-child {
	margin-right: 0.75rem;
}

.label_wrapper span {
	font-size: 0.625rem;
	margin: 0.25rem;
}

.label_wrapper input {
	font-size: 0.75rem;
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.label_sum {
	width: 50%;
}

.filter_content {
	display: flex;
	justify-content: space-between;
}

.wrapper_radio_btn {
	display: flex;
	align-items: center;
	flex-direction: row;

	margin-bottom: 4%;
	width: auto;
}

.label_radio {
	display: flex;
	align-items: center;
	flex-direction: row;
	cursor: pointer;

	margin-left: 5%;

	img {
		margin-left: 0.3125rem;
	}
}

.wrapper_radio_btn input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border-radius: 0.1875rem;
	width: 0.875rem;
	height: 0.9375rem;

	border: 0.0625rem solid var(--color-light-gray);
	transition: 0.2s all linear;
	outline: none;

	margin: 0rem;
	cursor: pointer;
}

.wrapper_radio_btn input:checked {
	background-color: var(--color-light-blue);
	border: var(--color-light-blue);
	background-image: url('../../assets/icons/check.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.round {
	border-radius: 50%;
	height: 0.25rem;
	width: 0.25rem;
	background: var(--color-light-green);
	margin-left: 0.3125rem;
}

.btn_search {
	background: none;
	border-style: none;
	width: 100%;

	color: inherit;
	font-family: inherit;
	font-size: inherit;

	padding: 0;
	margin-bottom: 0.625rem;

	img {
		margin-right: 0.5rem;
	}

	display: flex;
	align-items: center;
}
.imgIcon {
	width: 0.75rem;
	height: 0.75rem;
}
.imgLockIcon {
	width: 0.75rem;
	height: 0.75rem;
}
.imgVerifyIcon {
	width: 0.6875rem;
	height: 0.6875rem;
}
.imgLikedIcon {
	width: 1.0625rem;
	height: 1.0625rem;
}
.imgSaveIcon {
	width: 0.9375rem;
	height: 0.9375rem;
}
