.search {
	width: 427px;
	height: 45px;

	border-radius: 15px;
	background: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.1%;
	border: 1px solid var(--color-light-gray);

	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.149);
}

input {
	width: 100%;
	border-style: none;

	outline: none;

	color: var(--color-light-gray);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

input::placeholder {
	color: var(--color-light-gray);
	opacity: 1;
}
::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: var(--color-light-gray);
}

.img_search {
	width: 15px;
	height: 19px;

	margin: 3.5%;
}
