.search {
	width: 26.6875rem;
	height: 2.8125rem;

	border-radius: 0.9375rem;
	background: var(--color-white-background);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.1%;
	border: 0.0625rem solid var(--color-light-gray);

	box-shadow: var(--shadow-style);
}

input {
	width: 100%;
	border-style: none;

	outline: none;

	color: var(--color-light-gray);
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

input::placeholder {
	color: var(--color-light-gray);
	opacity: 1;
}
::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: var(--color-light-gray);
}

.img_search {
	width: 0.9375rem;
	height: 1.1875rem;

	margin: 3.5%;
}
