html,
body {
	// font-size: calc(6px + 14 * (100vw - 600px) / 1320);
	// width: 100% !important;

	width: 100%;
	height: 100%;
	/*height: 285px; */
}

.footerWrap {
	width: 100%;
	//margin-top: 100px;
	background-color: var(--color-white-background);
	top: 100vh;

	display: flex;
	//flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	align-content: center;
	font-weight: bold;
	box-shadow: var(--shadow-style);

	span {
		margin: 0;
	}
}

.footerWrapper {
	font-size: 16px;
	color: var(--color-light-gray);

	display: flex;
	flex-direction: column;

	margin: 55px 100px;
}

.footerWrapper:nth-of-type(2) {
	justify-content: center;
	align-items: center;

	margin: 55px 0px;

	.links {
		align-items: center;
	}
}

.links {
	display: flex;
	flex-direction: column;
}

.titleFooter {
	color: var(--color-dark-blue);

	margin-bottom: 50px;
}

a {
	margin-bottom: 5%;
}

.links span {
	margin-top: 10%;
}

@media (width <= 1080px) {
	.footerWrapper {
		font-size: 15px;

		margin: 55px 55px;
	}
}

@media (width <= 790px) {
	.footerWrapper {
		font-size: 14px;

		margin: 55px 40px;
	}
}

@media (width <= 600px) {
	body {
		height: auto;
	}
	footer {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.footerWrapper {
		// font-size: 14px;
		justify-content: center;
		align-items: center;

		margin: 20px 0px;
		.links {
			align-items: center;
		}
	}
	.footerWrapper:nth-of-type(2) {
		margin: 20px 0px;
	}
	.titleFooter {
		margin-bottom: 25px;
	}
	.links span {
		margin-top: 5%;
	}
}
