.wrapperChannelComponent {
	display: flex;

	height: 450px;
	width: 310px;
	margin-right: 25px;
	margin-top: 25px;
	border-radius: var(--md-raduis);
	position: relative;
	box-shadow: var(--shadow-style);
	.wrapperDescChannel {
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);

		top: 195px;
	}
}
.wrapperComponent {
	display: flex;
	justify-content: center;
}
.wrapperImg {
	display: flex;
	justify-content: center;
	.wrapperFavorite {
		position: absolute;
		left: 92%;
		top: 1%;
		background-color: var(--color-white);
		border-radius: 5px;
	}
	.wrapperImgAndDesc {
		top: 12%;
		display: flex;
		position: absolute;
		align-items: center;
		img {
			object-fit: cover;
			border: 3px solid var(--color-white);
			border-radius: 50%;
			width: 85px;
			height: 85px;
			display: inline-block;
			border-radius: 50%;
		}
	}
}
:root {
	h2 {
		color: var(--color-black);
		font-family: 'Roboto', sans-serif;
	}
	.bordedElement {
		border: 0.1rem solid var(--color-light-gray);
		border-radius: 10px;
		padding: 0px 5px 0px 7px;
		font-size: 10px;
		font-weight: 600;
		&:first-of-type {
			margin-right: 5px;
		}
	}
	.wrapperQuotes {
		background-color: var(--color-quotes);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-bottom-right-radius: var(--md-raduis);
		border-top-right-radius: var(--md-raduis);
		border-left: 2px solid var(--color-light-blue);
		height: 55px;
		width: 255px;
		overflow: scroll;
	}
	.quotesStyle {
		quotes: initial;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
	}
}
.wrapperStatistics {
	margin-top: 20px;
	display: flex;
	width: 256px;
	justify-content: space-between;
	flex-wrap: nowrap;
	div {
		display: flex;
		flex-direction: column;

		div {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;

			span {
				font-size: 12px;
				strong {
					font-weight: 600;
				}
			}
		}
	}
}
.pairStatistics {
}

.forFutureFeatures {
	position: absolute;
	top: 270px;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	div {
		margin-right: 10px;
		width: 50px;
		height: 19px;
		border-radius: var(--md-raduis);
		background-color: var(--color-quotes);
	}
}
hr {
	position: absolute;
	top: 287px;
	width: 256px;
}
.wrapperDefaultPrice {
	position: absolute;
	top: 297px;
	span {
		font-size: 30px;
		font-weight: 600;
		font-family: 'Roboto', sans-serif;
		color: var(--color-price-default);
	}
}
.priceType {
	position: absolute;
	top: 347px;
	left: 50%;
	transform: translate(-50%, -50%);

	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--color-price-type);
	height: 25px;
	width: 159px;
	border-radius: var(--l-raduis);
	padding-right: 3px;
	padding-left: 3px;
	.nonClickedButton {
		height: 21px;
		width: 45px;
		font-weight: 500;
		color: var(--color-light-gray);
		background: none;
		margin-right: 3px;
		font-size: 12px;
		&:last-of-type {
			margin-right: 0;
		}
	}
	.clickedBtn {
		width: 46px;
		background-color: #fff;
		border-radius: 6px;
		height: 21px;
		font-weight: 500;
		color: var(--color-light-gray-five);

		margin-right: 3px;
		font-size: 12px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.BtnBuy {
	position: absolute;
	top: 395px;
	left: 50%;
	background-color: var(--color-dark-blue);
	width: 243px;
	height: 45px;
	border-radius: var(--md-raduis);
	transform: translate(-50%, -50%);
	span {
		color: var(--color-white);
		font-size: 18px;
		font-weight: 600;
	}
}
.BtnFollowing {
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	position: absolute;

	top: 430px;
	left: 50%;
	width: 310px;
	transform: translate(-50%, -50%);
	background: none;
}
.borderRadius {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
.wrapperImageIcon {
	display: block;
	margin-right: 5px;
}
