.wrapperRootDropDown {
	display: flex;
	align-items: flex-start;
	.blockArrowImg {
		display: block;
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		left: 72%;
		margin-top: 0.625rem;
		margin-right: 0.625rem;
	}
	.rotatedArrowImg {
		transform: rotate(180deg);
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		left: 72%;
		display: block;
		margin-top: 0.625rem;
		margin-right: 0.625rem;
	}
}
.wrapperDropDown {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 75%;
	cursor: pointer;
	button {
		background: none;
		border: 0.0625rem solid var(--color-light-gray);
		border-radius: var(--md-raduis);
		color: var(--color-light-gray);
		padding: 0.3125rem 1.25rem 0.3125rem 1.25rem;
		width: 15.1875rem;
		height: 2.8125rem;
		font-size: 1rem;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
		box-shadow: var(--shadow-style);
		margin-bottom: 0.4375rem;
	}
	ul {
		background-color: var(--color-white-background);
		text-align: center;
		border-radius: var(--md-raduis);
		border: 0.0625rem solid var(--color-light-gray);
		overflow: hidden;
		box-shadow: var(--shadow-style);
		li {
			width: 15.1875rem;
			font-size: 0.875rem;
			font-weight: 500;

			padding-top: 0.3125rem;
			padding-bottom: 0.3125rem;
			font-family: 'Roboto', sans-serif;
			border-bottom: 0.0625rem solid var(--color-bottom-list);
			&:last-of-type {
				border-bottom: none;
			}
		}
		.clickedLi {
			background-color: var(--color-dark-blue);
		}
	}
}
.polygonDropDown {
	margin-top: 0.125rem;
	width: 0;
	height: 0;
	border-left: 0.3125rem solid transparent;
	border-right: 0.3125rem solid transparent;
	border-top: 0.5625rem solid #99a8b2;
}
.polygonDropDownRotate {
	margin-top: 0.125rem;
	width: 0;
	height: 0;
	border-left: 0.3125rem solid transparent;
	border-right: 0.3125rem solid transparent;
	border-bottom: 0.5625rem solid #99a8b2;
	border-top: none;
}

.btnSort {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
