.nightlyWrapperHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 5.125rem;
	align-content: center;
	padding-left: 7.1875rem;
	padding-right: 7.1875rem;
	box-shadow: var(--shadow-style);
	background-color: var(--color-background-black);
	div {
		display: flex;
		align-content: center;
		align-items: center;
		button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.wrapperHeader {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 5.125rem;
	width: 100%;
	align-content: center;
	padding-left: 7.1875rem;
	padding-right: 7.1875rem;
	box-shadow: var(--shadow-style);

	> div > img {
		width: 3.875rem;
		height: 3.875rem;
	}

	div {
		display: flex;
		align-content: center;
		align-items: center;
		button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.LoginBtn {
	display: flex;
	background-color: var(--color-dark-blue);
	color: var(--color-white);
	width: 7.5625rem;
	height: 2.625rem;
	border-radius: 1.25rem;
	img {
		width: 1.5rem;

		margin-right: 0.3125rem;
		border-radius: 50%;
	}
	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		span {
			font-size: 0.7rem;
			font-family: 'Roboto', sans-serif;
			font-weight: 600;
		}
	}
}
.catalogHeader {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

	button {
		width: 7.5625rem;
		height: 2.625rem;
		background-color: #d9d9d9;
		border: solid 0.0625rem;
		border-color: var(--color-light-gray);
		color: #a1aeb7;
		&:first-of-type {
			border-radius: 0.9375rem 0rem 0rem 0.9375rem;

			border-right: solid 0.0625rem rgba(153, 168, 178, 0.18);
		}

		&:last-of-type {
			border-radius: 0rem 0.9375rem 0.9375rem 0rem;

			border-left: none;
		}
		span {
			color: var(--color-light-gray);
			font-family: 'Roboto', sans-serif;
			font-size: 0.6875rem;
			font-weight: 600;
		}
	}
	.clickedHotBtn {
		width: 7.5625rem;
		height: 2.625rem;
		background-color: var(--color-dark-yellow);
		border-color: var(--color-dark-yellow);
		span {
			color: #fff;
		}
	}
	.nonClickedHotBtn {
		width: 7.5625rem;
		height: 2.625rem;
		background-color: #d9d9d9;
		span {
			color: #a1aeb7;
		}
	}
	.clickedCatalogBtn {
		width: 7.5625rem;
		height: 2.625rem;
		background-color: var(--color-dark-blue);
		border-color: var(--color-dark-blue);
		span {
			color: #fff;
		}
	}
	.nonClickedCatalogBtn {
		width: 7.5625rem;
		height: 2.625rem;
		background-color: #d9d9d9;
		span {
			color: #a1aeb7;
		}
	}
}

.lastWrapperInHeader {
	display: flex;
	width: 12vw;
	justify-content: space-between;
}
