.nightlyWrapperHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 82px;
	align-content: center;
	padding-left: 115px;
	padding-right: 115px;
	box-shadow: var(--shadow-style);
	background-color: var(--color-background-black);
	div {
		display: flex;
		align-content: center;
		align-items: center;
		button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.wrapperHeader {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 82px;
	width: 100%;
	align-content: center;
	padding-left: 115px;
	padding-right: 115px;
	box-shadow: var(--shadow-style);

	div {
		display: flex;
		align-content: center;
		align-items: center;
		button {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.LoginBtn {
	display: flex;
	background-color: var(--color-dark-blue);
	color: var(--color-white);
	width: 121px;
	height: 42px;
	border-radius: 20px;
	img {
		margin-right: 5px;
	}
	a {
		display: flex;
		flex-direction: row;
		align-items: center;
		span {
			font-family: 'Roboto', sans-serif;
			font-weight: 600;
		}
	}
}
.catalogHeader {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

	button {
		width: 121px;
		height: 42px;
		background-color: #d9d9d9;
		border: solid 1px;
		border-color: var(--color-light-gray);
		color: #a1aeb7;
		&:first-of-type {
			border-radius: 15px 0px 0px 15px;

			border-right: solid 1px rgba(153, 168, 178, 0.18);
		}

		&:last-of-type {
			border-radius: 0px 15px 15px 0px;

			border-left: none;
		}
		span {
			color: var(--color-light-gray);
			font-family: 'Roboto', sans-serif;
			font-size: 11px;
			font-weight: 600;
		}
	}
	.clickedHotBtn {
		width: 121px;
		height: 42px;
		background-color: var(--color-dark-yellow);
		border-color: var(--color-dark-yellow);
		span {
			color: #fff;
		}
	}
	.nonClickedHotBtn {
		width: 121px;
		height: 42px;
		background-color: #d9d9d9;
		span {
			color: #a1aeb7;
		}
	}
	.clickedCatalogBtn {
		width: 121px;
		height: 42px;
		background-color: var(--color-dark-blue);
		border-color: var(--color-dark-blue);
		span {
			color: #fff;
		}
	}
	.nonClickedCatalogBtn {
		width: 121px;
		height: 42px;
		background-color: #d9d9d9;
		span {
			color: #a1aeb7;
		}
	}
}

.lastWrapperInHeader {
	display: flex;
	width: 12vw;
	justify-content: space-between;
}
