.wrapperPaginationButton {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: none;
	width: 15.1875rem;
	height: 2.8125rem;
	font-size: 1rem;
	font-weight: 400;
	margin: 0 auto;
	margin-top: 1.6875rem;
	border: 0.0625rem solid var(--color-light-gray);
	border-radius: var(--md-raduis);
	box-shadow: var(--shadow);
}
