.wrapperStatistics {
	margin-top: 20px;
	display: flex;
	width: 350px;
	justify-content: space-between;
	flex-wrap: nowrap;
	div {
		display: flex;
		flex-direction: column;

		div {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;

			span {
				font-size: 16px;
				strong {
					font-weight: 600;
				}
			}
		}
	}
}
.imageWrapper {
	margin-right: 5px;
}
