:root {
	@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
	--color-light-blue: #21caff;
	--color-light-yellow: #ffd643;
	--color-light-gray: #99a8b2;
	--color-light-green: #8ae035;
	--color-white: #ffff;

	--color-dark-blue: #00a5e9;
	--color-dark-yellow: #ffc700;
	--color-dark-gray: #646464;
	--color-dark-green: #5fbd03;
}
