:root {
	--color-light-blue: #21caff;
	--color-light-yellow: #ffd643;
	--color-light-gray: #99a8b2;
	--color-light-green: #8ae035;

	--color-dark-blue: #00a5e9;
	--color-dark-yellow: #ffc700;
	--color-dark-gray: #646464;
	--color-dark-green: #5fbd03;
}
